<div class="d-flex">
<%= image_tag "play.png", class: "play_image" %>


<%= form_with url: "/games", method: :post do |form| %>

  <div class="field">
  <%= form.label :player_x %>
  <%= form.text_field :playerx %>
  </div>

  
  <div class="field">
  <%= form.label :player_o %>
  <%= form.text_field :playero %>
  </div>

  <div class="actions">
  <%= form.submit "Start New Game", class: "start_game m_auto" %>
  </div>
<% end %>