<div class="row w-100">
<%= image_tag "play.png", class: "img-fluid play_image col-7" %>


<%= form_with url: "/games", html: { class: "m-auto col-5 start_game_form"}, method: :post do |form| %>

  <div class="field">
  <%= form.label :player_x %>
  <%= form.text_field :playerx, placeholder: "enter name", required: true %>
  </div>

  
  <div class="field">
  <%= form.label :player_o %>
  <%= form.text_field :playero, placeholder: "enter name", required: true %>
  </div>

  <div class="actions">
  <%= form.submit "Start New Game", class: "start_game" %>
  </div>
<% end %>