
<% if $winner == "tie" %>
  <script>
    alert("It's a TIE !!!");
    <% $winner = "random" %>
    window.location.replace("/games");
  </script>

<% end %>

<div class="w-100 text-center">
<%= image_tag "heading1.png", class: "heading " %>

<p> 
<% if $winner == "x" || $winner == "o" %>
  <% if $winner == "x" then $winner = @game.playerx end %>
  <% if $winner == "o" then $winner = @game.playero end %>
  <script>
    alert("Player <%= $winner.upcase %> has won the game!!!");
    <% $winner = "random" %>
    window.location.replace("/games");
  </script>

<% end %>
</p>

<div class="row">
<div class="col-md-4">
<h1> <%= @game.playerx %> </h1>
</div>
<div class="col-md-4 main_box">

<%= render @game %>
</div>
<div class="col-md-4">
<h1> <%= @game.playero %> </h1>

</div>
</div>
</div>